<div id="wrapper">
  <div id="header"></div>

  <div id="content">
    <%# Primary content, top header.  This is the question if a lookup succeeded, or the primary error. %>
    <div class="primary-text top-header">
      <center>
        <strong>
          <% if @error %>
            <% case @error %>
            <% when :no_country %>
              We weren't able to figure out where you are in the world.
            <% when :unsupported_country %>
              Unfortunately, your country isn't supported at this time.
            <% end %>
          <% else %>
            Are <%= @country.code %> banks closed today?
          <% end %>
        </strong>
      </center>
    </div>

    <%# Secondary content.  The answer to the question if the lookup succeeded, or a secondary error message. %>
    <div class="secondary-text">
      <center>
        <% if @error %>
          <% case @error %>
          <% when :no_country %>
            Can you tell us?
          <% when :unsupported_country %>
            Email <%= render("shared/creator_email", link_text: "us") %> and request support!
          <% end %>
        <% else %>
          <% if @bank_closure_reason.present? %>
            <strong>Yes.</strong>
            Most <%= @country.code %> banks are closed because of <%= @bank_closure_reason %>.
          <% else %>
            <strong>No.</strong>
            Most <%= @country.code %> banks are open.
          <% end %>
        <% end %>
      </center>
    </div>

    <%# If the lookup succeeded, or the error is an unsupported_country, show a "Try another?" prompt. %>
    <%# In other words: This is shown whenever a country was found for the user. %>
    <%# If no country was found, the "Try another?"-equivalent was shown in the secondary-text div above. %>
    <% if [nil, :unsupported_country].include?(@error) %>
      <div class="try-another-country-prompt">
        <center>
          Try another country?
        </center>
      </div>
    <% end %>

    <%# Show an option to select another country %>
    <center><%= render("shared/supported_country_select") %></center>
  </div>

  <div id="footer">
    <center>
      <strong>
        <%# Disclaimer %>
        <div>Bank statuses are provided on a best-effort basis only, and are not guaranteed.</div>

        <%# Link to source (e.g. how do we know what the schedule is?) %>
        <% if @country %>
          <div>The <%= link_to(@country.bank.schedule_name, @country.bank.schedule_link) %> schedule is used to determine <%= @country.code %> bank statuses.  Some banks may not adhere to this schedule.</div>
        <% end %>
      </strong>

      <%# Link to creator's email %>
      Made by <%= render("shared/creator_email") %>.
    </center>
  </div>
</div>